/* General Reset for better cross-browser consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full-screen wrapper to center content */
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
}

/* Main container for the form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Styling the form */
.form {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Form heading */
.form-heading {
  color: #333;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

/* Form group */
.form-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

/* Form labels */
.form-label {
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

/* Form inputs */
.form-input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ced4da;
  color: rgb(251, 108, 19);
  border-radius: 5px;
  outline: none;
  transition: all 0.2s ease;
}

/* Submit button */
.form-button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
